Ryerson/WCF/Assignments/Final/old/InsuranceQuoteClient/InsuranceQuoteClient/Service References/InsuranceQuoteServiceProxy/InsuranceQuoteService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InsuranceQuoteService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InsuranceQuoteService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InsuredInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleMake" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleYearBuilt" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsuredInfo" nillable="true" type="tns:InsuredInfo" />
  <xs:complexType name="InsuranceQuoteInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgeAmount" type="xs:double" />
      <xs:element minOccurs="0" name="BaseAmount" type="xs:double" />
      <xs:element minOccurs="0" name="CarAmount" type="xs:double" />
      <xs:element minOccurs="0" name="MontlyTotal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsuranceQuoteInfo" nillable="true" type="tns:InsuranceQuoteInfo" />
  <xs:complexType name="FaultInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultInfo" nillable="true" type="tns:FaultInfo" />
</xs:schema>